:root{
    --link:#ffff;
    --hover:rgb(0,128,26);;
    --main: #ffff;
    --bg:rgb(0,128,26);
    --size:99vmin;
    --ratio: 1 / 1.1;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    font-family: 'Ropa Sans';
    color: var(--main)

}

a{
    text-decoration: none;
    color: 000;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    padding: 40px 0;

}

.container{
    width: calc(var(--size) * var(--ratio));
    margin: 0 auto;

}

.logo{
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5;
    transition: all 0.2s;

}

.logo:hover{
    background: var(--main);
    color: var(--bg);
}

nav{
    display: felx;
    
}

nav {
    display: inline-block;
    color: #ffff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;

}

nav a:hover{
    color: var(--hover);

}

.intro{
    width: 100;
    text-align: center;
    overflow: hidden;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.intro-title {
    color: var(--main);
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}



.btn{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #ffff;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}

.btn:hover{ 
  background-color: #ffff;
  color: var(--bg)

}