body,html {
	margin: 5px;
	border: 2px;
	height:100%;
	font-family: 'Ropa Sans';
}

#map {
	height: 100%;
	border-radius: 30px;
}

body {
	display: grid;
	grid-template-rows: 70px 1fr 30px;
	grid-template-columns: 22% 78%;
	grid-template-areas: 
	"menu menu "
	"sidebar content "
	"sidebar footer ";
}

/* *********************************************************
  Menu Section
********************************************************* */
.menu { grid-area: menu;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 30px;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 20px 65px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

/* *********************************************************
  Sidebar Section
********************************************************* */

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 0.5px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Ropa Sans';
}

.button-3-grey {
  appearance: none;
  background-color: grey;
  border: 0.5px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Ropa Sans';
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3-grey:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
	background: #e0e0e0;
	color: black;
	transition: all 0.5s ease-in-out;
}

.button-3-grey:hover {
	background: #e0e0e0;
	color: black;
	transition: all 0.5s ease-in-out;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3-grey:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3-grey:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-3-grey:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.sidebar {
	color: white;
	grid-area: sidebar;
	padding:20px;
	border-radius: 30px;
	background-color: rgb(92, 86, 86);
    overflow: auto;
}

.sidebar-item{
	padding: 10px;
	background: rgb(0,170,113);
	color: white;
	margin: 6px;
	cursor: pointer;
	border-radius: 10px;
}

.sidebar-item:hover {
	background: #e0e0e0;
	color: black;
	font-size: 105%;
	transition: all 0.5s ease-in-out;
}

.sidebar-box{
	color: white;
	text-align: center;
    background-color: rgb(0,128,26);
    border-radius: 20px;
	padding: 10px;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	border-radius: 30px;
	background-color: rgb(175, 175, 175);
}



/* Dropdown Button */
.dropbtn-red {
  appearance: none;
  background-color: rgba(255, 0, 0, 0.8);
  border: 0.5px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Ropa Sans';
}

.dropbtn-blue {
  appearance: none;
  background-color: rgba(0, 0, 255, 0.8);
  border: 0.5px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Ropa Sans';
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e0e0e0;
	color: black;
	font-size: 105%;
	transition: all 0.5s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
  transition: all 0.5s ease-in-out;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn-red  {background-color: #e0e0e0;
  color: black;
  font-size: 105%;
  transition: all 0.3s ease-in-out;}

.dropdown:hover .dropbtn-blue  {background-color: #e0e0e0;
  color: black;
  font-size: 105%;
  transition: all 0.3s ease-in-out;}