body,html {
	margin:0;
	height:100%;
	width:100%;	
	font-family: 'Ropa Sans';
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(76, 148, 231);
}


body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

